In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker, Session
from sqlalchemy import create_engine, inspect, Column, Integer, String

engine = create_engine("sqlite:///db/doggo-db.sqlite")

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

['babies', 'doggos']

In [9]:
babies = Base.classes.babies
# doggos = Base.classes.doggos

# Create our session (link) from Python to the DB
session = Session(engine)

results = session.query(babies.brth_yr, babies.gndr, babies.ethcty, babies.nm, babies.cnt, babies.rnk).all()
df=pd.DataFrame(results)

#Replace incomplete name with complete name
df.replace('ASIAN AND PACI','ASIAN AND PACIFIC ISLANDER', inplace=True)
df.replace('BLACK NON HISP','BLACK NON HISPANIC', inplace=True)
df.replace('WHITE NON HISP','WHITE NON HISPANIC', inplace=True)

#Rename FEMALE==F and MALE==M
df.replace('FEMALE','F', inplace=True)
df.replace('MALE','M', inplace=True)

#Drop Duplicate rows
dfd=df.drop_duplicates()

#Sort by column, alphabetize names and combine "cnt" count for each name (dictionary)
dfn=dfd[dfd['brth_yr']==2016]

count={}

for index, row in dfn.iterrows():
    name=row["nm"]
    if name in count:
        count[name]+=row["cnt"]
    else: 
        count[name]=row["cnt"]

#Create DF with new data (dictionary to list to DF)
dfn_df=pd.DataFrame(list(count.items()), columns=["Name","Total 2016 Count"])

dfn_df_s=dfn_df.sort_values("Total 2016 Count", ascending=False)
dfn_df_s

          Name  Total 2016 Count
670       Liam               699
690      Jacob               689
662      Ethan               683
681       Noah               621
0       Olivia               559
...        ...               ...
643      Poppy                10
644      Brynn                10
645       Reem                10
646   Lilliana                10
1244     Aviel                10

[1245 rows x 2 columns]